<!doctype html>
<html ng-app="weatherApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="app/app.css">
  </head>
  <body>
    <h2>Weather App</h2>
    <div data-ng-controller="MainCtrl">
      <p><b>City: </b>{{stuff.city}}{{err}}</p>
      <p><b>Location: </b>{{stuff.location}}{{err}}</p>
      <div class="custom-location">
        <p>Input city name</p>
        <input type="text" data-ng-model="customCity">
        <button type="button" data-ng-click="getData()" name="button">Go</button>
        <p>(E.g. Sheffield, Cardiff Bute Park, Aberporth <a href="https://data.gov.uk/dataset/historic-monthly-meteorological-station-data">more</a>)</p>
      </div>
        <div id="grid1" data-ui-grid="{ data: stuff.meteoData, enableFiltering: true, }" class="grid">
    </div>
  </body>
</html>
